<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta http-equive="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/site.css}">
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/mainpage.css}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<title>ODM</title>
</head>
	<script type="text/javascript">
		$(document).ready(function() {

			
		});

		//실행 이벤트
		function fn_order(){
			location.href='/orderSearch.html';
			return false;
		} 

		function fn_stock(){
			location.href='/stockSearch.html';
			return false;
		} 
		
	</script>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="padding-top: 70px; ">
        <div class="card card-signin my-5" style="height: 700px;" >
          <div class="card-body">
            
            <div style="text-align: center">
            	<img alt="" th:src="@{/image/ODM.JPG}" width="300px" style="padding-bottom: 50px;">
            </div>
            <form class="form-signin">

			  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" onclick="fn_order();" style="margin-bottom: 20px">Order Search</button>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" onclick="fn_stock();" >Stock Search</button>
              <div style="text-align: center">
              	<img alt="" th:src="@{/image/CI.jpg}" width="150px" style="padding-top: 200px;">
              </div>
				
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>