<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta http-equive="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/site.css}">
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/mainpage.css}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<title>ODM</title>
</head>
	<script type="text/javascript">
		$(document).ready(function() {

			
		});

		//실행 이벤트
		function fn_orderSearch(){
			location.href='/orderStatus.html';
			$.ajax({
				type : "",
				url : "",
				dataType : "json",
				error : function(){
					alert("오류");
				},
				success : function(data){
					
				}
			});
            return false;
		} 

		//main으로
		function fn_main(){
			location.href='/';
			return false;
		}
	</script>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="padding-top: 70px; ">
        <div class="card card-signin my-5" style="height: 700px;" >
          <div class="card-body">
            
            <div style="text-align: center">
            	<button class="btn" id="btn" type="button" onclick="fn_main();"><img class="btn-img" th:src="@{/image/ODM.JPG}"  width="300"></button>
            </div>
            <form class="form-signin">

              <div class="form-label-group">
                <input type="text" id="inputOrderNo" class="form-control" placeholder="주문번호" required>
                <label for="inputOrderNo">주문번호</label>
              </div>
              <div>
              	<button class="btn btn-lg btn-primary btn-block text-uppercase" type="button" onclick="fn_orderSearch();">search</button>
              </div>
              <hr class="my-4">
              <div id="list" style="height: 210px; overflow-y:scroll;"  >
              	<ol>
              		<li>배차1</li>
              		<li>배차2</li>
              		<li>배차3</li>
              		<li>배차4</li>
              		<li>배차5</li>
              		<li>배차6</li>
              		<li>배차7</li>
              		<li>배차8</li>
              		<li>배차9</li>
              		<li>배차10</li>
              	</ol>	
              </div>
              <div style="text-align: center">
              	<img alt="" th:src="@{/image/CI.jpg}" width="150px" >
              </div>
				
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>