<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta http-equive="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/site.css}">
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/mainpage.css}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
<title>ODM</title>
</head>
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			주문상태 값
			주문등록 - 0
			출고예정 - 1
			차량배차 - 3, 3B ,3C
			출고지시 - 5
			상차확정 - 5S
			출고확정 - 6, 9
			*/
			$.ajax({
				type : "",
				url : "",
				dataType : "json",
				error : function(){
					alert("오류");
				},
				success : function(data){
					
				}
			});
			
		});

		//실행 이벤트
		function fn_stockSearch(){

			return false;
		} 

		//main으로
		function fn_main(){
			location.href='/';
			return false;
		}

	</script>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="padding-top: 70px; ">
        <div class="card card-signin my-5" style="height: 700px;" >
          <div class="card-body">
            
            <div style="text-align: center">
            	<button class="btn" id="btn" type="button" onclick="fn_main();"><img class="btn-img" th:src="@{/image/ODM.JPG}"  width="150"></button>
            </div>
            <form class="form-signin">
				<div id="divTitle">
					<label  >※  주문상태조회</label>
				</div>
              	<div id="divContent1" style="float:left">
              		<label style="float:left" >주문번호 : &nbsp; </label>
              		<input type="text" id="inputOrderNo" class="form-control" style="width:200px ; height:25px; float:left;" readonly="readonly"/> 
              	</div>
              	<div id="divContent2" style="float:left">
              		<label style="float:left" >배차번호 : &nbsp; </label>
              		<input type="text" id="inputCarNo" class="form-control" style="width:200px ; height:25px; float:left;" readonly="readonly"/> 
              	</div>
              	<div id="divStatus" style="text-align: center; padding-top:100px;">
              		<table width="100%" align="center">
              			<tr>
              				<td rowspan="2"><img id="imgStatus01" alt="" th:src="@{/image/man_blue.png}" style="width:50px;"></td>
              				<td colspan="6" style="text-align: :left">Step1</td>
              				<td rowspan="2"><img id="imgChk01" alt="" th:src="@{/image/check_blue.png}" style="width:40px;"></td>
              			</tr>
              			<tr>
              				<td colspan="3" style="text-align: :left"><label>주문등록</label></td>
              			</tr>
              			<tr>
              				<td rowspan="2"><img id="imgStatus02" alt="" th:src="@{/image/people_gray.png}" style="width:50px;"></td>
              				<td colspan="6" style="text-align: :left">Step2</td>
              				<td rowspan="2"><img id="imgChk02" alt="" src="@{/image/check_gray.png}" style="width:40px;"></td>
              			</tr>
              			<tr>
              				<td colspan="3" style="text-align: :left"><label>출고예정</label></td>
              			</tr>
              			<tr>
              				<td rowspan="2"><img id="imgStatus03" alt="" th:src="@{/image/truck_gray.png}" style="width:50px;"></td>
              				<td colspan="6" style="text-align: :left">Step3</td>
              				<td rowspan="2"><img id="imgChk03" alt="" th:src="@{/image/check_gray.png}" style="width:40px;"></td>
              			</tr>
              			<tr>
              				<td colspan="3" style="text-align: :left"><label>차량배차</label></td>
              			</tr>
              			
              			<tr>
              				<td rowspan="2"><img id="imgStatus04" alt="" th:src="@{/image/upload_gray.png}" style="width:50px;"></td>
              				<td colspan="6" style="text-align: :left">Step4</td>
              				<td rowspan="2"><img aid="imgChk04" lt="" th:src="@{/image/check_gray.png}" style="width:40px;"></td>
              			</tr>
              			<tr>
              				<td colspan="3" style="text-align: :left"><label>출고지시</label></td>
              			</tr>
              			
              			<tr>
              				<td rowspan="2"><img id="imgStatus05" alt="" th:src="@{/image/cube_gray.png}" style="width:50px;"></td>
              				<td colspan="6" style="text-align: :left">Step5</td>
              				<td rowspan="2"><img id="imgChk05" alt="" th:src="@{/image/check_gray.png}" style="width:40px;"></td>
              			</tr>
              			<tr>
              				<td colspan="3" style="text-align: :left"><label>상차확정</label></td>
              			</tr>
              			
              			<tr>
              				<td rowspan="2"><img id="imgStatus06" alt="" th:src="@{/image/download_gray.png}" style="width:50px;"></td>
              				<td colspan="6" style="text-align: :left">Step6</td>
              				<td rowspan="2"><img id="imgChk06" alt="" th:src="@{/image/image/check_gray.png}" style="width:40px;"></td>
              			</tr>
              			<tr>
              				<td colspan="3" style="text-align: :left"><label>출고확정</label></td>
              			</tr>
              		</table>
              	</div>
				
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>