<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta http-equive="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/css/site.css}">
	<link rel="stylesheet" th:href="@{/css/all.css}">
	<link rel="stylesheet" th:href="@{/css/mainpage.css}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<title>ODM</title>
	<script type="text/javascript">
		$(document).ready(function() {

			
		});


		//main으로
		function fn_main(){
			location.href='/';
			return false;
		}

	</script>
<title>ODM</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="padding-top: 70px; ">
        <div class="card card-signin my-5" style="height: 700px;" >
          <div class="card-body-map">
          	<div style="text-align: center">
          		<button class="btn" id="btn" type="button" onclick="fn_main();"><img class="btn-img" th:src="@{/image/ODM.JPG}"  width="75"></button>
            </div>
          	<div class="map-title">
            	<label>※  재고현황조회</label>
            </div>
            <div class="map-container" >
          		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d202623.99380615298!2d126.75232087425461!3d37.484328655062356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca326c87be313%3A0x60c2bb399e4c6025!2z7IK87JaR7IKsKOyjvCk!5e0!3m2!1sko!2skr!4v1581656771152!5m2!1sko!2skr" frameborder="0"> </iframe>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>